### Process daily NAO ###

Load the daily observations and quantify the NAO index and delta P index and fold into a dataframe.

In [1]:
# Local imports
import os
import sys
import time
import argparse

# Third-party imports
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import shapely.geometry
import cartopy.io.shapereader as shpreader
import iris

# Specific imports
from tqdm import tqdm
from datetime import datetime, timedelta

/home/users/benhutch/.conda/envs/bens-conda-env2/lib/python3.11/site-packages/pyproj/network.py:59: UserWarning: pyproj unable to set PROJ database path.
  _set_context_ca_bundle_path(ca_bundle_path)

In [2]:
# Set up the path to the psl data
psl_data_path = "/gws/nopw/j04/canari/users/benhutch/ERA5/ERA5_msl_daily_1960_2020_daymean.nc"

In [3]:
%%time

# load the data
psl_cube = iris.load_cube(psl_data_path, "msl")

CPU times: user 1.62 s, sys: 1.76 s, total: 3.39 s
Wall time: 32.9 s

In [4]:
psl_cube

In [5]:
# subset the data between 1975 and 2015
psl_cube = psl_cube.extract(iris.Constraint(time=lambda cell: 1975 <= cell.point.year <= 2015))

In [6]:
%%time

# extract the times
times = psl_cube.coord("time").points

# extract the lats and lons
lats = psl_cube.coord("latitude").points
lons = psl_cube.coord("longitude").points

# extract the data
data = psl_cube.data

CPU times: user 2.16 s, sys: 11.8 s, total: 13.9 s
Wall time: 35.4 s

In [7]:
data.shape

(14975, 214, 304)

In [8]:
# Define the dimensions for the gridbox for the azores
azores_grid_corrected = {"lon1": -28, "lon2": -20, "lat1": 36, "lat2": 40}

# Define the dimensions for the gridbox for the azores
iceland_grid_corrected = {"lon1": -25, "lon2": -16, "lat1": 63, "lat2": 70}

# Define this but corrected
uk_n_box_corrected = {"lon1": -27, "lon2": 21, "lat1": 57, "lat2": 70}

# Define this but corrected
uk_s_box_corrected = {"lon1": -27, "lon2": 21, "lat1": 38, "lat2": 51}

# find the indices of the azores region
azores_lat1_idx = np.argmin(np.abs(lats - azores_grid_corrected["lat1"]))
azores_lat2_idx = np.argmin(np.abs(lats - azores_grid_corrected["lat2"]))
azores_lon1_idx = np.argmin(np.abs(lons - azores_grid_corrected["lon1"]))
azores_lon2_idx = np.argmin(np.abs(lons - azores_grid_corrected["lon2"]))

# Find the indicies of the iceland region
iceland_lat1_idx = np.argmin(np.abs(lats - iceland_grid_corrected["lat1"]))
iceland_lat2_idx = np.argmin(np.abs(lats - iceland_grid_corrected["lat2"]))
iceland_lon1_idx = np.argmin(np.abs(lons - iceland_grid_corrected["lon1"]))
iceland_lon2_idx = np.argmin(np.abs(lons - iceland_grid_corrected["lon2"]))

# Find the indices of the uk n box region
uk_n_lat1_idx = np.argmin(np.abs(lats - uk_n_box_corrected["lat1"]))
uk_n_lat2_idx = np.argmin(np.abs(lats - uk_n_box_corrected["lat2"]))
uk_n_lon1_idx = np.argmin(np.abs(lons - uk_n_box_corrected["lon1"]))
uk_n_lon2_idx = np.argmin(np.abs(lons - uk_n_box_corrected["lon2"]))

# Find the indices of the uk s box region
uk_s_lat1_idx = np.argmin(np.abs(lats - uk_s_box_corrected["lat1"]))
uk_s_lat2_idx = np.argmin(np.abs(lats - uk_s_box_corrected["lat2"]))
uk_s_lon1_idx = np.argmin(np.abs(lons - uk_s_box_corrected["lon1"]))
uk_s_lon2_idx = np.argmin(np.abs(lons - uk_s_box_corrected["lon2"]))

In [9]:
lons

array([-4.50000000e+01, -4.47187500e+01, -4.44375000e+01, -4.41562462e+01,
       -4.38749962e+01, -4.35937462e+01, -4.33124962e+01, -4.30312424e+01,
       -4.27499924e+01, -4.24687424e+01, -4.21874924e+01, -4.19062424e+01,
       -4.16249886e+01, -4.13437386e+01, -4.10624886e+01, -4.07812386e+01,
       -4.04999886e+01, -4.02187347e+01, -3.99374847e+01, -3.96562347e+01,
       -3.93749847e+01, -3.90937309e+01, -3.88124809e+01, -3.85312309e+01,
       -3.82499809e+01, -3.79687309e+01, -3.76874771e+01, -3.74062271e+01,
       -3.71249771e+01, -3.68437271e+01, -3.65624771e+01, -3.62812233e+01,
       -3.59999733e+01, -3.57187233e+01, -3.54374733e+01, -3.51562195e+01,
       -3.48749695e+01, -3.45937195e+01, -3.43124695e+01, -3.40312195e+01,
       -3.37499657e+01, -3.34687157e+01, -3.31874657e+01, -3.29062157e+01,
       -3.26249619e+01, -3.23437119e+01, -3.20624619e+01, -3.17812119e+01,
       -3.14999599e+01, -3.12187099e+01, -3.09374580e+01, -3.06562080e+01,
       -3.03749580e+01, -3.00937061e+01, -2.98124561e+01, -2.95312042e+01,
       -2.92499542e+01, -2.89687023e+01, -2.86874523e+01, -2.84062004e+01,
       -2.81249504e+01, -2.78437004e+01, -2.75624485e+01, -2.72811985e+01,
       -2.69999466e+01, -2.67186966e+01, -2.64374447e+01, -2.61561947e+01,
       -2.58749447e+01, -2.55936928e+01, -2.53124428e+01, -2.50311909e+01,
       -2.47499409e+01, -2.44686890e+01, -2.41874390e+01, -2.39061890e+01,
       -2.36249371e+01, -2.33436871e+01, -2.30624352e+01, -2.27811852e+01,
       -2.24999332e+01, -2.22186832e+01, -2.19374332e+01, -2.16561813e+01,
       -2.13749313e+01, -2.10936794e+01, -2.08124294e+01, -2.05311775e+01,
       -2.02499275e+01, -1.99686775e+01, -1.96874256e+01, -1.94061756e+01,
       -1.91249237e+01, -1.88436737e+01, -1.85624218e+01, -1.82811718e+01,
       -1.79999199e+01, -1.77186699e+01, -1.74374199e+01, -1.71561680e+01,
       -1.68749180e+01, -1.65936661e+01, -1.63124161e+01, -1.60311642e+01,
       -1.57499142e+01, -1.54686632e+01, -1.51874123e+01, -1.49061613e+01,
       -1.46249113e+01, -1.43436604e+01, -1.40624094e+01, -1.37811584e+01,
       -1.34999075e+01, -1.32186565e+01, -1.29374056e+01, -1.26561556e+01,
       -1.23749046e+01, -1.20936537e+01, -1.18124027e+01, -1.15311518e+01,
       -1.12499008e+01, -1.09686499e+01, -1.06873989e+01, -1.04061489e+01,
       -1.01248980e+01, -9.84364700e+00, -9.56239605e+00, -9.28114510e+00,
       -8.99989414e+00, -8.71864319e+00, -8.43739319e+00, -8.15614223e+00,
       -7.87489128e+00, -7.59364033e+00, -7.31238937e+00, -7.03113842e+00,
       -6.74988794e+00, -6.46863699e+00, -6.18738604e+00, -5.90613508e+00,
       -5.62488461e+00, -5.34363365e+00, -5.06238270e+00, -4.78113222e+00,
       -4.49988127e+00, -4.21863031e+00, -3.93737960e+00, -3.65612864e+00,
       -3.37487793e+00, -3.09362698e+00, -2.81237626e+00, -2.53112531e+00,
       -2.24987459e+00, -1.96862376e+00, -1.68737292e+00, -1.40612209e+00,
       -1.12487125e+00, -8.43620479e-01, -5.62369645e-01, -2.81118810e-01,
        1.32013200e-04,  2.81382829e-01,  5.62633634e-01,  8.43884468e-01,
        1.12513530e+00,  1.40638614e+00,  1.68763697e+00,  1.96888781e+00,
        2.25013852e+00,  2.53138947e+00,  2.81264019e+00,  3.09389114e+00,
        3.37514186e+00,  3.65639281e+00,  3.93764353e+00,  4.21889448e+00,
        4.50014544e+00,  4.78139591e+00,  5.06264687e+00,  5.34389782e+00,
        5.62514830e+00,  5.90639925e+00,  6.18765020e+00,  6.46890116e+00,
        6.75015163e+00,  7.03140259e+00,  7.31265354e+00,  7.59390450e+00,
        7.87515497e+00,  8.15640640e+00,  8.43765640e+00,  8.71890736e+00,
        9.00015831e+00,  9.28140926e+00,  9.56266022e+00,  9.84391117e+00,
        1.01251621e+01,  1.04064121e+01,  1.06876631e+01,  1.09689140e+01,
        1.12501650e+01,  1.15314159e+01,  1.18126669e+01,  1.20939178e+01,
        1.23751678e+01,  1.26564188e+01,  1.29376698e+01,  1.32189207e+01,
        1.35001717e+01,  1.37814226e+01,  1.40626736e+01,  1.43439245e+01,
        1.46251745e+01,  1.49064255e+01,  1.51876764e+01,  1.54689274e+01,
        1.57501783e+01,  1.60314293e+01,  1.63126793e+01,  1.65939312e+01,
        1.68751812e+01,  1.71564331e+01,  1.74376831e+01,  1.77189331e+01,
        1.80001850e+01,  1.82814350e+01,  1.85626869e+01,  1.88439369e+01,
        1.91251888e+01,  1.94064388e+01,  1.96876888e+01,  1.99689407e+01,
        2.02501907e+01,  2.05314426e+01,  2.08126926e+01,  2.10939445e+01,
        2.13751945e+01,  2.16564465e+01,  2.19376965e+01,  2.22189465e+01,
        2.25001984e+01,  2.27814484e+01,  2.30627003e+01,  2.33439503e+01,
        2.36252022e+01,  2.39064522e+01,  2.41877022e+01,  2.44689541e+01,
        2.47502041e+01,  2.50314560e+01,  2.53127060e+01,  2.55939579e+01,
        2.58752079e+01,  2.61564579e+01,  2.64377098e+01,  2.67189598e+01,
        2.70002117e+01,  2.72814617e+01,  2.75627136e+01,  2.78439636e+01,
        2.81252136e+01,  2.84064655e+01,  2.86877155e+01,  2.89689674e+01,
        2.92502174e+01,  2.95314693e+01,  2.98127193e+01,  3.00939693e+01,
        3.03752213e+01,  3.06564713e+01,  3.09377232e+01,  3.12189732e+01,
        3.15002251e+01,  3.17814751e+01,  3.20627251e+01,  3.23439751e+01,
        3.26252289e+01,  3.29064789e+01,  3.31877289e+01,  3.34689789e+01,
        3.37502327e+01,  3.40314827e+01,  3.43127327e+01,  3.45939827e+01,
        3.48752327e+01,  3.51564865e+01,  3.54377365e+01,  3.57189865e+01,
        3.60002365e+01,  3.62814903e+01,  3.65627403e+01,  3.68439903e+01,
        3.71252403e+01,  3.74064903e+01,  3.76877441e+01,  3.79689941e+01,
        3.82502441e+01,  3.85314941e+01,  3.88127441e+01,  3.90939980e+01,
        3.93752480e+01,  3.96564980e+01,  3.99377480e+01,  4.02190018e+01],
      dtype=float32)

In [10]:
azores_box = data[:, azores_lat2_idx:azores_lat1_idx, azores_lon1_idx:azores_lon2_idx].mean(axis=(1, 2))
iceland_box = data[:, iceland_lat2_idx:iceland_lat1_idx, iceland_lon1_idx:iceland_lon2_idx].mean(axis=(1, 2))

uk_n_box = data[:, uk_n_lat2_idx:uk_n_lat1_idx, uk_n_lon1_idx:uk_n_lon2_idx].mean(axis=(1, 2))
uk_s_box = data[:, uk_s_lat2_idx:uk_s_lat1_idx, uk_s_lon1_idx:uk_s_lon2_idx].mean(axis=(1, 2))

In [21]:
# Set up a dataframe
indices_df = pd.DataFrame(
    {
        "time": times,
        "nao_index": (azores_box - iceland_box) / 100,
        "delta_p_index": (uk_n_box - uk_s_box) / 100,
    }
)

In [22]:
indices_df.describe()

               time     nao_index  delta_p_index
count  1.497500e+04  14975.000000   14975.000000
mean   8.371310e+05     13.410758      -8.586423
std    1.037533e+05     16.701416      12.193858
min    6.574430e+05    -48.421406     -52.878672
25%    7.472870e+05      2.902539     -15.756133
50%    8.371310e+05     12.781641      -7.522344
75%    9.269750e+05     23.729219      -0.211250
max    1.016819e+06     72.429766      30.282891

In [23]:
indices_df.head()

     time  nao_index  delta_p_index
0  657443  49.856172     -32.213047
1  657467  56.215625     -36.983906
2  657491  43.575859     -35.995234
3  657515  27.980391     -32.392578
4  657539  28.766641     -39.533594

In [16]:
import cftime

# # convert time to a datetime object
# # time:calendar = "gregorian" ;
# # time:axis = "T" ;
# # time:units = "hours since 1900-01-01" ;
# indices_df["time"] = cftime.num2date(indices_df["time"], units="hours since 1900-01-01", calendar="gregorian")

In [24]:
import pandas as pd

# Assuming the time column is in hours since 1900-01-01
indices_df["time"] = pd.to_datetime("1900-01-01") + pd.to_timedelta(indices_df["time"], unit='h')

In [27]:
indices_df.head()

         time  nao_index  delta_p_index
0  1975-01-01  49.856172     -32.213047
1  1975-01-02  56.215625     -36.983906
2  1975-01-03  43.575859     -35.995234
3  1975-01-04  27.980391     -32.392578
4  1975-01-05  28.766641     -39.533594

In [26]:
# limit the time column to just the yyyy-mm-dd
indices_df["time"] = indices_df["time"].dt.strftime("%Y-%m-%d")

In [28]:
# set up a fname
fname = "nao_delta_p_indices_1975_2015.csv"

# set up the directory to save to
save_dir = "/home/users/benhutch/unseen_multi_year/dfs"

# save the dataframe
indices_df.to_csv(os.path.join(save_dir, fname), index=False)